@model EntityLayer.Concrete.HomePage
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br/> <br/>
<div class="card-header border-0">
    <h3 class="mb-0">Ana Sayfa Düzenleme Sayfası</h3>
</div>
@using (Html.BeginForm("Index", "HomePage", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.id)
    <br/>
    <br/>
    <br/>
    <br/>
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.page_title, new{@class="form-control"})
    <br/>
    <label>Alt Başlık</label>
@Html.TextBoxFor(x => x.title, new{@class="form-control"})
<label>Açıklama</label>
<br/>
@Html.TextBoxFor(x => x.description, new{@class="form-control"})
    <br/>
    <button type="submit" class="btn btn-success">Güncelle </button>
}